

{% extends "main/base.html" %}
{% block section %}
<div class="yb-section-point-wrapper">
   <div class="uk-container">
      <div class="yb-section-point">
         <span>Sign Up</span>
      </div>
   </div>
</div>
<div class="uk-section uk-flex uk-flex-middle uk-animation-fade " >
   <div class="uk-width-1-1">
      <div class="uk-container ">
         <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
            <div class="uk-width-1-1@m">
               <div class="uk-margin uk-width-large uk-margin-auto uk-card  uk-card-body uk-box-shadow-large uk-border-rounded ">
                  <form method="POST" action="" >
                     {% csrf_token %}
                     {{ form.non_field_errors }}
                     <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                           <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                           {{ form.first_name}}
                        </div>
                        <small class="uk-text-danger err-msg">
                        {{ form.first_name.errors }}
                        </small>
                     </div>
                     <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                           <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                           {{ form.last_name}}
                        </div>
                        <small class="uk-text-danger err-msg">
                        {{ form.last_name.errors }}
                        </small>
                     </div>
                     <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                           <span class="uk-form-icon" uk-icon="icon: user"></span>
                           {{ form.username}}
                        </div>
                        <small class="uk-text-danger err-msg">
                        {{ form.username.errors }}
                        </small>
                     </div>
                     <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                           <span class="uk-form-icon" uk-icon="icon: mail"></span>
                           {{ form.email}}
                        </div>
                        <small class="uk-text-danger err-msg">
                        {{ form.email.errors }}
                        </small>
                     </div>
                     <div class="uk-margin">
                        {{ form.date_of_birth.label }}
                        <div class="uk-inline uk-width-1-1">
                           {{ form.date_of_birth }}
                        </div>
                        <small class="uk-text-danger err-msg">
                        {{form.date_of_birth.errors }}
                        </small>
                     </div>
                     <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                           <span class="uk-form-icon" uk-icon="icon: lock"></span>
                           {{ form.password1}}
                        </div>
                        <small class="uk-text-danger err-msg">
                        {{ form.password1.errors }}
                        </small>
                     </div>
                     <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                           <span class="uk-form-icon" uk-icon="icon: lock"></span>
                           {{ form.password2}}
                        </div>
                        <small class="uk-text-danger err-msg">
                        {{ form.password2.errors }}
                        </small>
                     </div>
                     <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 yb-btn2 uk-border-rounded">Sign Up</button>
                     </div>
                     <hr>
                     <div class="uk-text-small uk-text-center">
                        Do you already register? <a href="{% url 'login' %}">Login</a>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock section %}

