

{% extends "base/main_post_list.html" %}
{% load static %}
{% block blog_detail %}
<div class="contact">
   <div class="uk-container">
      <div data-uk-grid class=" uk-grid-divider">
         <div class=" yb-contact-left uk-width-3-4@m">
            <div>
               <div id="contact_form_block">
                  <p class="uk-text-bold"></p>
                  <div id="contact-form-alert"></div>
                  <div class="widget widget-contact-form widget-contact-form-style2 ">
                     <form  class="uk-form-stacked" id="" action = "" method="post"  enctype="multipart/form-data">
                        <small class="uk-text-danger err-msg" id="f_email_error">{{ form.non_felids_errors}}</small>
                        {% csrf_token %}
                        <div class="uk-margin">
                           <label for="" class="uk-form-label">{{ form.title.label }}*</label>
                           <div class="uk-form-controls uk-inline uk-width-1-1">
                               {{ form.title }}
                           </div>
                           <small class="uk-text-danger err-msg" id="">{{ form.title.errors}}</small>
                        </div>
                        <div class="uk-margin ">
                           <label for="" class="uk-form-label">{{ form.meta_description.label }}*</label>
                           <div class="uk-form-controls">
                              {{ form.meta_description }}
                           </div>
                           <small class="uk-text-danger err-msg" id="">
                           {{ form.meta_description.errors }}
                           </small>
                        </div>
                        <div class="uk-margin ">
                           <label for="" class="uk-form-label">{{ form.cover.label }}*</label>
                           <div class="uk-form-controls">
                              {{ form.cover }}
                           </div>
                           <small class="uk-text-danger err-msg" id="">
                           {{ form.cover.errors}}
                           </small>
                        </div>
                        <div class="uk-grid uk-grid-small uk-child-width-1-2@s">
                           <div>
                              <label for="" class="uk-form-label">{{ form.category.label }}*</label>
                              <div>
                                 {{ form.category }}
                                 <small class="uk-text-danger err-msg" id="">
                                 {{ form.category.errors }}
                                 </small>
                              </div>
                           </div>
                           <div>
                              <div class="uk-margin">
                                 <label for="" class="uk-form-label">{{ form.tags.label }}*</label>
                                 <div class="uk-form-controls uk-inline uk-width-1-1 ">
                                    {{ form.tags }}
                                 </div>
                                 <small class="uk-text-danger err-msg" id="">{{ form.tags.errors}}</small>
                              </div>
                           </div>
                        </div>
                        <div class="uk-margin ">
                           <label for="" class="uk-form-label">{{ form.content.label }}*</label>
                           <div class="uk-form-controls">
                              {{ form.content }}
                           </div>
                           <small class="uk-text-danger err-msg" id="">
                           {{ form.content.errors }}
                           </small>
                        </div>
                        <div class="uk-margin">
                           <label class="uk-form-label">{{ form.status.label }}*</label>
                           <div class="uk-form-controls uk-grid-small uk-child-width-auto uk-grid" >
                              {% for choice in form.status %}
                              <label>
                              {{ choice.tag }}
                              {{ choice.choice_label }}
                              </label>
                              {% endfor %}
                           </div>
                           <small class="uk-text-danger err-msg" id="">
                           {{ form.status.errors }}
                           </small>
                        </div>
                        <div class="uk-margin-top">
                           <button class="uk-button uk-button-primary uk-button-large  yb-btn" type="submit" id=""  data-textreset="Send Now">
                           <span class="uk-margin-small-right btn-text-wrap">Submit</span>
                           <span data-uk-icon="arrow-right" class="uk-icon"> </span>
                           </button>
                        </div>
                     </form>
                     <div class="contact-form-message" style="display: none;"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock blog_detail %}
{% block javascript %}
<style>
   .MultiCheckBox {
   border:1px solid #e2e2e2;
   padding: 5px;
   border-radius:4px;
   cursor:pointer;
   }
   .MultiCheckBox .k-icon{
   font-size: 15px;
   float: right;
   font-weight: bolder;
   margin-top: -7px;
   height: 10px;
   width: 14px;
   color: #05182c;
   border-radius: 5px;
   }
   .MultiCheckBoxDetail {
   display:none;
   position:absolute;
   border:1px solid #e2e2e2;
   overflow-y:hidden;
   }
   .MultiCheckBoxDetailBody {
   overflow-y:scroll;
   }
   .MultiCheckBoxDetail .cont  {
   clear:both;
   overflow: hidden;
   padding: 2px;
   background-color: #05182c;
   }
   .MultiCheckBoxDetail .cont:hover  {
   background-color: #84b6de;
   }
   .MultiCheckBoxDetailBody > div > div {
   float:left;
   }
   .MultiCheckBoxDetail>div>div:nth-child(1) {
   }
   .MultiCheckBoxDetailHeader {
   overflow:hidden;
   position:relative;
   height: 28px;
   background-color: #05182c;
   }
   .MultiCheckBoxDetailHeader>input {
   position: absolute;
   top: 4px;
   left: 3px;
   }
   .MultiCheckBoxDetailHeader>div {
   position: absolute;
   top: 5px;
   left: 24px;
   color:#fff;
   }
</style>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
   $(document).ready(function () {
       $("#id_tags").CreateMultiCheckBox({ width: '330px', defaultText : 'Select Below', height:'250px' });
   });
   
   $(document).ready(function () {
       $(document).on("click", ".MultiCheckBox", function () {
           var detail = $(this).next();
           detail.show();
       });
   
       $(document).on("click", ".MultiCheckBoxDetailHeader input", function (e) {
           e.stopPropagation();
           var hc = $(this).prop("checked");
           $(this).closest(".MultiCheckBoxDetail").find(".MultiCheckBoxDetailBody input").prop("checked", hc);
           $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
       });
   
       $(document).on("click", ".MultiCheckBoxDetailHeader", function (e) {
           var inp = $(this).find("input");
           var chk = inp.prop("checked");
           inp.prop("checked", !chk);
           $(this).closest(".MultiCheckBoxDetail").find(".MultiCheckBoxDetailBody input").prop("checked", !chk);
           $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
       });
   
       $(document).on("click", ".MultiCheckBoxDetail .cont input", function (e) {
           e.stopPropagation();
           $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
   
           var val = ($(".MultiCheckBoxDetailBody input:checked").length == $(".MultiCheckBoxDetailBody input").length)
           $(".MultiCheckBoxDetailHeader input").prop("checked", val);
       });
   
       $(document).on("click", ".MultiCheckBoxDetail .cont", function (e) {
           var inp = $(this).find("input");
           var chk = inp.prop("checked");
           inp.prop("checked", !chk);
   
           var multiCheckBoxDetail = $(this).closest(".MultiCheckBoxDetail");
           var multiCheckBoxDetailBody = $(this).closest(".MultiCheckBoxDetailBody");
           multiCheckBoxDetail.next().UpdateSelect();
   
           var val = ($(".MultiCheckBoxDetailBody input:checked").length == $(".MultiCheckBoxDetailBody input").length)
           $(".MultiCheckBoxDetailHeader input").prop("checked", val);
       });
   
       $(document).mouseup(function (e) {
           var container = $(".MultiCheckBoxDetail");
           if (!container.is(e.target) && container.has(e.target).length === 0) {
               container.hide();
           }
       });
   });
   
   var defaultMultiCheckBoxOption = { width: '220px', defaultText: 'Select Below', height: '200px' };
   
   jQuery.fn.extend({
       CreateMultiCheckBox: function (options) {
   
           var localOption = {};
           localOption.width = (options != null && options.width != null && options.width != undefined) ? options.width : defaultMultiCheckBoxOption.width;
           localOption.defaultText = (options != null && options.defaultText != null && options.defaultText != undefined) ? options.defaultText : defaultMultiCheckBoxOption.defaultText;
           localOption.height = (options != null && options.height != null && options.height != undefined) ? options.height : defaultMultiCheckBoxOption.height;
   
           this.hide();
           this.attr("multiple", "multiple");
           var divSel = $("<div class='MultiCheckBox'>" + localOption.defaultText + "<span class='k-icon k-i-arrow-60-down'><svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='sort-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-sort-down fa-w-10 fa-2x'><path fill='currentColor' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z' class=''></path></svg></span></div>").insertBefore(this);
           divSel.css({ "width": localOption.width });
   
           var detail = $("<div class='MultiCheckBoxDetail'><div class='MultiCheckBoxDetailHeader'><input type='checkbox' class='mulinput' value='-1982' /><div>Select All</div></div><div class='MultiCheckBoxDetailBody'></div></div>").insertAfter(divSel);
           detail.css({ "width": parseInt(options.width) + 10, "max-height": localOption.height });
           var multiCheckBoxDetailBody = detail.find(".MultiCheckBoxDetailBody");
   
           this.find("option").each(function () {
               var val = $(this).attr("value");
   
               if (val == undefined)
                   val = '';
   
               multiCheckBoxDetailBody.append("<div class='cont'><div><input type='checkbox' class='mulinput' value='" + val + "' /></div><div>" + $(this).text() + "</div></div>");
           });
   
           multiCheckBoxDetailBody.css("max-height", (parseInt($(".MultiCheckBoxDetail").css("max-height")) - 28) + "px");
       },
       UpdateSelect: function () {
           var arr = [];
   
           this.prev().find(".mulinput:checked").each(function () {
               arr.push($(this).val());
           });
   
           this.val(arr);
       },
   });
</script>
{% endblock javascript %}

