{% extends "base/main_post_list.html" %}
{% load hitcount_tags %}
      {% block page_title %}
                <h2 class="yb-section-title uk-heading-line"><span>Tags</span></h2>
      {% endblock page_title %}

 {% block post_list %}
            <div data-uk-grid class="uk-grid-medium uk-child-width-1-2@s uk-margin-medium-top">
              {% if object %}
              {% for tag in object %}
              <div>
                <a href="{% url 'tag_post_list' tag.slug  %}">
                  <div class="yb-blog-item uk-background-cover" data-src="{% if tag.cover %}{{ tag.cover.url }}{% endif %}" data-uk-img>
                    <div class="uk-overlay uk-position-cover"> </div>
                    <div class="uk-overlay uk-position-bottom">
                      <h5 class="yb-blog-item-title uk-text-truncate">{{ tag.title|capfirst }}</h5>
                      <div class="yb-blog-item-meta">

                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
              {% else %}
                  <p>There is not category yet!</p>
              {% endif %}
            </div>
 {% endblock post_list %}